In [3]:
from db import *
from sqlalchemy import insert
DATA_PATH = './data'

ModuleNotFoundError: No module named 'db'

In [ ]:
with Session(engine) as session:
    session.add(Driver(name="Alani"))
    session.add(Driver(name="Audrey"))
    session.add(Driver(name="Cadence"))
    session.add(Driver(name="Daisy"))
    session.add(Driver(name="Mei Xi"))
    session.commit()

In [ ]:
# with get_connection() as conn:
#     conn.execute(insert(driver_table).values(name="Alani"))
#     conn.execute(insert(driver_table).values(name="Audrey"))
#     conn.execute(insert(driver_table).values(name="Cadence"))
#     conn.execute(insert(driver_table).values(name="Daisy"))
#     conn.execute(insert(driver_table).values(name="Mei Xi"))
#     conn.commit()

In [ ]:
# with get_connection() as conn:
#     result = conn.execute(driver_table.select())
#     for row in result:
#         print(row)